

header{  
    display: flex;
    flex-direction: column;
    background-color: #1D1D1D;
    text-align: left;
    max-height: 200px;
    max-width: 1920px;
    padding-left: 15px;
    margin: 0;
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    background-color: #1D1D1D;
    max-height: 50px;
}

.nav-button-active{
    background-color: #353535;
    font-size: 15px;
    color: #97BFBF;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.nav-button-inactive{
    background-color: #1D1D1D;
    font-size: 15px;
    color: #97BFBF;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.nav-button-active:hover{
    background-color: #3a3a3a;
}

.nav-button-inactive:hover{
    background-color: #3a3a3a;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #353535;
    margin: 0;
    padding: 0;
    max-width: 1920px;
    height: 100vh;
}

.body-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start center;
    max-width: 1920px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recent-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #1D1D1D;
    height: fit-content;
}

.project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 840px;
    text-align: center;
}

.project-image{
    padding-top: 100px;
    padding-right: 50px;
}

.project-button{
    background-color: hsla(0, 0%, 100%, 0);
    max-width: 300px;
    min-width: 150px;
    min-height: 50px;
    padding: 10px;
}

.project-button:hover{
    background-color: #1D1D1D;
    color: #b931b9;
}

.source-code{
    background-color: grey;
    color: black;
    border: 5px solid black;
    text-align: left;
    max-width: 800px;

}

footer{
    background-color: #1D1D1D;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    max-width: 1920px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin: 0;
}

.all-projects-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-list{
    color: #97BFBF;
}

.personal-pic{
    max-width: 200px;
    max-height: 400px;
    padding-bottom: 20px;
}

.screen-test{
    min-height: 100px;
    max-width: 1042px;
    min-height: 100px;
    max-height: 1042px;
    background-color: red;
}

h1{
    font-size: 50px;
    color: #4c7a9b; 
}

h2{
    font-size: 40px;
    color:#B4944B;
}

h3{
    font-size: 25px;
    color: #86A34C;
}

h4{
    font-size: 20px;
    color: #fd9a3d;
}

p{
    font-size: 15px;
    color: #97BFBF;
}

a{
    font-size: 20px; 
    color: #b934b9;

}

button
{
    color: #97BFBF;
    border: solid #353535;
    border-width: 2px;
    background-color: #1D1D1D;
    width: 100px;
    height: 30px;
}

@media screen and (max-width: 600px) {
    .body-layout{
        flex-direction: column;
        align-items: center;
    }

    .recent-projects{
        max-width: 200px;
    }
    .screen-test{
        background-color: lime;
    }
}

@media screen and (max-width: 500px){
    .screen-test{
        background-color: yellow;
    }
}

@media screen and (max-width: 400px){
    .screen-test{
        background-color: pink;
    }
}


@media screen and (max-width: 700px){
    .screen-test{
        background-color: orange;
    }
}

@media screen and (max-width: 800px){
    .screen-test{
        background-color: blue;
    }
}

@media screen and (max-width: 900px){
    .screen-test{
        background-color: purple;
    }
}


@media screen and (max-width: 1000px){
    .screen-test{
        background-color: white;
    }
}