
header{  
    display: flex;
    flex-direction: column;
    background-color: #1D1D1D;
    text-align: left;
    max-height: 200px;
    max-width: 1920px;
    padding-left: 15px;
    margin: 0;
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    background-color: #1D1D1D;
    max-height: 50px;
}

.nav-button-active{
    background-color: #353535;
    font-size: 15px;
    color: #fff5bd; 
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.nav-button-inactive{
    background-color: #1D1D1D;
    font-size: 15px;
    color: #fff5bd; 
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.nav-button-active:hover{
    background-color: #3a3a3a;
}

.nav-button-inactive:hover{
    background-color: #313131;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #313131;
    margin: 0;
    padding: 0;
    max-width: 1920px;
    height: 100vh;
}

.body-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start center;
    max-width: 1920px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recent-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 840px;
    text-align: center;
}

.project-image{
    padding-top: 100px;
    padding-right: 50px;
}

.project-button{
    background-color: hsla(0, 0%, 100%, 0);
    max-width: 300px;
    min-width: 150px;
    min-height: 50px;
    padding: 10px;
    border: none;
}

.project-button:hover{
    background-color: #1D1D1D;
}

.source-code{
    background-color: grey;
    color: black;
    border: 2px solid black;
    text-align: left;
    padding: 10px;
}

footer{
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 1920px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin: 0;
}

.all-projects-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-list{
    color: #ffffff;
}

.personal-pic{
    max-width: 200px;
    max-height: 400px;
    padding-bottom: 20px;
}

h1{
    font-size: 50px;    
    color:#e2ad00;
}

h2{
    font-size: 40px;
    color: #e2ad00;
    text-align: center;
}

h3{
    font-size: 25px;
    color: #e2c339;
    text-align: center;
}

h4{
    font-size: 20px;
    color: #e2c339;
    text-align: center;
}

p{
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}

a{
    font-size: 20px; 
    color: #fff5bd; 
    text-align: center;
}


button
{
    color: #fff5bd; 
    border: solid #353535;
    border-width: 2px;
    background-color: #1D1D1D;
    width: 100px;
    height: 30px;
}

@media screen and (max-width: 992px) {
    .body-layout{
        flex-direction: column;
        align-items: center;
    }

    .recent-projects{
        max-width: 200px;
    }
}